.mainContainer {
  margin-top: clamp(20px, 5vh, 40px);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  justify-content: center;
  justify-items: center;
}
