.addNewTodolistContainer {
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 20px;
  padding: 20px;
  height: 100%;
}
