.todolist {
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  padding: clamp(5px, 1vw, 10px);
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template:
    'title button'
    'input addbtn'
    'tasks tasks'
    'filter filter';
  grid-template-columns: 1fr 50px;
  grid-template-rows: repeat(2, minmax(min-content, max-content)) 1fr 50px;
}
.title {
  grid-area: title;
  width: calc(100% - 50px);
  margin: 6px;
}
.tasksList {
  grid-area: tasks;
}
.editWrapper {
  grid-area: button;
}
