* {
  box-sizing: border-box
}
/*.App {*/
/*  padding: 30px;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  gap: 16px;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.App > div {*/
/*  background-color: #f8fff0;*/
/*  border-radius: 10px;*/
/*  font-family: "PF BeauSans Pro", sans-serif;*/
/*}*/

.isDone {
  color: hotpink;
  font-weight: bold;
  text-decoration: line-through;
}
