.todolist {
    flex: 0 1 auto;
    padding: 30px;
    width: 320px;
}
.editWrapper {
    float: right;
}
.task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btnWrapper {
    margin-left: 6px;
}